name: ECR Deployment

on: 
  push:
    branches: [ dev ]

jobs:
  
  build:
    
    name: Build Image
    runs-on: ubuntu-latest

   
    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
        AWS_REGION: us-east-1

    - name: Building, testing, and pushing images to ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORYAMISH21DB: sql_repos
        ECR_REPOSITORYAMISH21WEB: web_repo
        IMAGE_TAG: V0.1
      run: |
        # Docker build
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORYAMISH21DB:$IMAGE_TAG -f Dockerfile_mysql .
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORYAMISH21WEB:$IMAGE_TAG .
        sleep 10
        docker push $ECR_REGISTRY/$ECR_REPOSITORYAMISH21DB:$IMAGE_TAG
        docker push $ECR_REGISTRY/$ECR_REPOSITORYAMISH21WEB:$IMAGE_TAG
